/******* GENERAL *******/
/* spacing on all sections */
#about,
#skills,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

#portfolio {
    padding-top: 4rem;
}

#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
}
#contact {
    padding-bottom: 4rem;
}

body {
    font-size: 1.125rem !important;
}
h3 {
    font-size: calc(1.3rem + .2vw) !important;
}
p {
    text-align: start;
    word-spacing: 0.2em;
    line-height: 1.6;
}

/* display background dark color on navbar scroll */
.navbarScroll {
    background: linear-gradient(to right, rgba(35, 30, 79, 0.8), rgba(65, 59, 135, 0.8), rgba(35, 30, 79, 0.8));
}
.navbarScroll.navbarDark {
    background: linear-gradient(to right, #231e4f, #413b87, #231e4f);
    transition: background 0.2s ease-in-out;
}
.nav-link {
    color: white !important;
    padding-left: 1rem !important;
}

/* hero background image */
.bgimage {
    height: 100vh;
    max-height: 1000px;
    background: linear-gradient(rgba(35, 30, 79, 0.1), rgba(35, 30, 79, 0.7)), url('images/image1.webp');
    background-size: cover;
    position: relative;
    width: 100%;
}

.hero_title, .hero_desc {
    display: block;
    width: fit-content;
    /* background-color: rgba(35, 30, 79, 0.1); */
    margin: 8px auto;
}
.hero-icon {
    height: 200px;
    padding-top: 50px;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about */
#about .aboutRow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageAboutPage {
    width: 250px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

/* skills */
#skills {
    background: linear-gradient(to right, #d6d6d7, #f3f4f5, #d6d6d7);
    padding-bottom: 64px;
    box-sizing: border-box;
}
.skillsText.card {
    height: 350px;
}
.skillsText img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
#skills p {
    text-align: center;
}

.card-title {
    text-align: center;
}

#skills .card {
    border-radius: 15px !important;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#portfolio .card {
    border-radius: 0 0 15px 15px !important;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    height: 250px;
    object-fit: cover;
}

.skillsText:hover,
.portfolioContent:hover
{
    border: 1px solid #a1a1b6;
}

.skillsText, .portfolioContent {
    transition: transform 0.3s ease-in-out;
}

h1, h2, h3, p, .card-title, .card-text {
    cursor: default;
}

/* portfolio */
#portfolio p {
    text-align: center;
}
.img-container-portfolio {
    position: relative;
    overflow: hidden;
}
.card-text-portfolio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    background: linear-gradient(to right, #d6d6d7, #f3f4f5, #d6d6d7);
    padding: 8px;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}
.portfolioContent:hover .card-text-portfolio {
    transform: translateY(0);
}

/* contact */
#contact {
    background: linear-gradient(to right, #231e4f, #413b87, #231e4f);
}
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #198754;
}
.contact-title {
    color: white;
}
.contact-detail {
    color: white;
}
.fa-phone {
    color: #198754;
}
.fa-envelope {
 color: #b89619;
}
.fa-linkedin {
    color: #0a66c2;
}
div.row > div.contactColumn > svg {
    width: 42px;
}
#contact a {
    text-decoration: none;
    color: white;
}

/* tablettes and mobile */
@media screen and (max-width: 992px) {
    .bgimage {
        height: 100vh;
    }
    #skills {
        margin-top: 5rem;
        padding-top: 5rem;
    }
    #about .aboutRow {
        gap: 30px;
    }
    .skillsText.card {
        height: auto;
    }
}